<h1>All Contacts</h1>
<% if @contacts.empty? %>
  <p>You haven't added any contacts yet! <a href="/contacts/new">Add a new contact?</a></p>
<% else %>
  <ul class="contact_list">
    <% @contacts.each do |contact| %>
      <li class="listing">
        <dl class="listing">
          <dt>Name</dt>
          <dd class="full_name"><%= contact.first_name %> <%= contact.last_name %></dd>
          <dt>E-Mail</dt>
          <dd class="email"><%= contact.email %></dd>
          <dt>Note</dt>
          <dd class="note"><%= contact.note %></dd>
          <dt>View Contact</dt>
          <dd><a href="/contacts/<%= contact.id %>">Click Here!</a></dd>
        </dl>
      </li>
    <% end %>
  </ul>
<% end %>
<a href="/">Home Page</a>
